<%= render 'tasks/navbar'%>

<br>
<div class="d-flex justify-content-center">
  <h1>New task</h1>
  <br>
</div>
<%= render "form", task: @task %>
<div class="d-flex justify-content-center">

<%= link_to "Back to tasks", tasks_path %>
<div>

